/* font-family: 'Anonymous Pro', monospace;
font-family: 'Francois One', sans-serif;
font-family: 'Quintessential', cursive;
font-family: 'Roboto Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Francois+One&family=Quintessential&family=Roboto+Mono:wght@200&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    margin-top: -60px;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 30px;
    transition: all .5s ease;
}

.navbar ul li a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
}

/* Home */

#home {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 900px;
    justify-content: center;
    align-items: center;
    color: white;
}

#home::before {
    content: "";
    position: absolute;
    background: url(/images/keyboardimage.jpg) no-repeat center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .93;
}
  
.typing {
    width: 16ch;
    animation: typing 2s steps(26), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    font-family: 'Francois One', sans-serif;
    font-size: 4rem;
    margin: 30px 0px;
    animation-delay: 1s;
}

@keyframes typing {
    from {
      width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

/* About Me */

#about {
    color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin: 50px;
}

.headingabout {
    font-family: 'Francois One', sans-serif;
    font-size: 4rem;
    text-align: center;
    margin: 10px 15px;
}

#pic {
    display: flex;

}

#pic img {
    height: 400px;
    margin: 10px;
}

#intro {
    font-family: 'Francois One', sans-serif;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}

#intro h2 {
    font-family: 'Francois One', sans-serif;
    font-size: 3rem;
    margin-bottom: 20px;
}

/* Projects */

#projects {
    background: url(/images/projectbackground.jpg) no-repeat center/cover;
    height: 600px;
    width: 100%;
    font-family: 'Francois One', sans-serif;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .3);
    color: white;
    align-items: center;
    padding: 20px;
}

.myprojects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.myprojects img {
    width: 360px;
    height: 240px;
    margin: 10px;
}

/*  Contact Me */

.contactheading {
    font-family: 'Francois One', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin: 30px 0px;
}

#contact {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.form-row {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
    padding: 8px;
}

.form-control {
    padding: 12px;
    margin: 15px;
    width: 70%;
    border: none;
    outline: none;
}

.form-control-message {
  padding: 12px;
  margin: 15px;
  width: 30%;
  border: none;
  outline: none;
}

/* temp delete */
/* #msg {
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
} */

.button {
    font-family: 'Francois One', sans-serif;
    padding: 10px;
    width: 10%;
    margin: 20px;
    border: none;
    outline: none;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px white;
}

/* Footer/Social Media links */

body {
    background: black;
    padding-top: 60px;
    padding-bottom: 40px;
}

textarea {
    resize: none;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}

@charset "UTF-8";

.svg-inline--fa {
  vertical-align: -0.200em;
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 1s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #000000;
  border-color: #3b5998;
}
/* Will add when/if I open a twitter */
/* .rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
} */

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #000;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: black;
  border-color: #bb0000;
}
/* Will add when/if I open an IG */
/* .rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
} */